* {
    box-sizing: border-box;
  }
  
body {
    background-color: #040f13;
    margin: 0;
}


ul {

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #3e0b57;
   
    display: block;
    
}

ul li {
    float: left;    
}

ul li a {
    display: block;
    text-decoration: none; 
    padding: 14px 10px;
    margin: 2px;
    color: white;
    border-radius: 6px;
}
ul li:first-child {
    margin-left: 60px;
}
ul li a:hover {
    background-color: #230b57;
    
}

.dropdown-content {
    display: none;
    position: absolute;
}
.dropdown-content a {
     text-decoration: none;
     text-align: left;
     background-color: #3e0b57;
     padding: 5px;
     color: white;
     

}
li:last-child {
    float: right;
}
li:last-child a {
    margin-right: 40px;
}

.dropdown-li:hover .dropdown-content {
    display: block;
}

.container {
    height: 1000px;
}

/* footer {
    background-color: #000000;
    height: 300px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
  } */

.f-container {
    width: 100%;
    background-color: #000000;
    height: 300px;
    margin: auto;
    padding: 0;
    overflow: hidden;

    
}
.f-column {
    float: left;
    box-sizing: border-box;
    height: 70%;
    width: 30%;
    vertical-align: top;
    padding: 30px;
    margin:auto;
    color: aliceblue;
    text-align: center;
    

}
.f-column:first-child {
    margin-left: 60px;
}

